Repository filipdutescu/renamer.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, test

.github/labeler.yml:

ci:
  - '.github/*'
  - '.stylua.toml'

build:
  - 'Makefile'
  - 'scripts/**/*'

docs:
  - 'doc/**/*'
  - 'README*'
  - 'LICENSE'
  - 'CONTRIBUTING*'

test:
  - 'lua/tests/**/*'

docs: add media showcasing `renamer.nvim`
  README.md
  media/renamer_border_chars.png
  media/renamer_demo.gif
  media/renamer_highlight_references.png
  media/renamer_no_border.png
  media/renamer_no_title.png
Labels: docs

fix(padding)!: validate padding before drawing popup
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/tests/defaults_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

chore(release): v1.0.0
  CHANGELOG.md
Labels: none

docs(README): Add missing quotation mark
  README.md
Labels: docs

docs(readme): add missing quotation mark
  README.md
Labels: docs

feat(quickfix-list)!: add changes to qf list
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/renamer/utils.lua
  lua/tests/defaults_spec.lua
  lua/tests/renamer_setup_spec.lua
  lua/tests/utils_spec.lua
Labels: docs, test

feat!: add `with_popup` to enable/disable popup
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/tests/defaults_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

docs(readme): add no popup screenshot
  README.md
  media/renamer_no_popup.png
Labels: docs

feat(rename)!: add option for empty popup
  README.md
  doc/renamer.txt
  lua/renamer/init.lua
  lua/tests/renamer_rename_spec.lua
Labels: docs, test

fix(rename)!: cursor is not placed at the end of the initial word
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix(rename): cursor placement at word end
  lua/renamer/init.lua
Labels: none

fix(qflist): first line in file was not set correctly
  lua/renamer/utils.lua
  lua/tests/utils_spec.lua
Labels: test

chore(release): v2.0.0
  CHANGELOG.md
Labels: none

add a comma after padding section
  README.md
Labels: docs

feat!: add custom handler for successful renames
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/renamer/mappings/init.lua
  lua/tests/defaults_spec.lua
  lua/tests/mappings/mappings_defaults_spec.lua
  lua/tests/mappings/mappings_exec_keymap_action_spec.lua
  lua/tests/mappings/mappings_register_bindings_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

docs: fix Lua in docs
  README.md
  doc/renamer.txt
  lua/renamer/init.lua
Labels: docs

chore(release): v3.0.0
  CHANGELOG.md
Labels: none

fix(rename): handle `documentChanges` LSP response
  lua/renamer/init.lua
Labels: none

chore(release): v3.0.1
  CHANGELOG.md
Labels: none

fix: resolve issue with change.textDocument not working as intended
  lua/renamer/init.lua
Labels: none

fix: incorrect qflist row and column indexing
  lua/renamer/utils.lua
Labels: none

fix: responses with `documentChanges` set qflist properly (#90)
  lua/renamer/init.lua
  lua/renamer/utils.lua
Labels: none

test(qf-list): fix failing tests
  lua/tests/utils_spec.lua
Labels: test

docs: detail how to add or change mappings
  README.md
  doc/renamer.txt
Labels: docs

chore(release): v3.0.2
  CHANGELOG.md
Labels: none

fix: various errors and logs
  lua/renamer/constants.lua
  lua/renamer/health.lua
  lua/renamer/init.lua
  lua/renamer/mappings/init.lua
  lua/renamer/mappings/utils.lua
  lua/renamer/utils.lua
  lua/tests/health_spec.lua
  lua/tests/mappings/mappings_register_bindings_spec.lua
  lua/tests/mappings/utils_spec.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix: popup showing when no LSP client attached
  lua/renamer/constants.lua
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

chore(release): v3.0.3
  CHANGELOG.md
Labels: none

fix: renaming leading to file rename
  lua/renamer/init.lua
Labels: none

feat: add customizable min and max width
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/tests/defaults_spec.lua
Labels: docs, test

fix: names of min and max width parameters
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/tests/defaults_spec.lua
Labels: docs, test

fix(layout): popup position when low number of lines
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
Labels: test

fix(rename): responses without `changes` break `qflist`
  lua/renamer/init.lua
Labels: none

fix(readme): width parameter names were incorrect
  README.md
Labels: docs

chore(release): v4.0.0
  CHANGELOG.md
Labels: none

fix: popup not showing if renamed word appears twice
  lua/renamer/utils.lua
Labels: none

fix: popup having `sidescrolloff` if set
  lua/renamer/constants.lua
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
Labels: test

chore(release): v4.0.1
  CHANGELOG.md
Labels: none

fix: fix offset_encoding error
  lua/renamer/init.lua
Labels: none

feat(handler): migrate to handler
  .gitignore
  lua/renamer/constants.lua
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_handler_spec.lua
Labels: test
