Repository filipdutescu/renamer.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, test

ci: fix triggers
  .github/workflows/pr_labeler.yaml
  .github/workflows/release.yaml
Labels: none

ci(labeler): add the `hotfix` label
  .github/pr-labeler.yml
  .github/workflows/pr_labeler.yaml
Labels: ci

ci: fix ci workflows
  .github/pr-labeler.yml
  .github/workflows/pr_labeler.yaml
  .github/workflows/release.yaml
Labels: ci

ci(release): fix changelog step
  .github/workflows/release.yaml
Labels: none

chore(release): v0.1.0
  CHANGELOG.md
Labels: none

ci(release): add ref branch in checkout step
  .github/workflows/release.yaml
Labels: none

chore(changelog): remove contents
  CHANGELOG.md
Labels: none

ci(release): fetch all history in release CI
  .github/workflows/release.yaml
Labels: none

chore(release): v0.1.0
  CHANGELOG.md
Labels: none

feat(health): add healthcheck
  README.md
  autoload/health/renamer.vim
  lua/renamer/health.lua
  lua/tests/health_spec.lua
Labels: docs, test

docs(readme.md): add `master` build badge
  .github/workflows/ci_master.yaml
  README.md
Labels: docs

docs(defaults): add setup parameters documentation
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
Labels: docs

docs: add EmmyLua docs
  lua/renamer/defaults.lua
  lua/renamer/health.lua
  lua/renamer/init.lua
Labels: none

ci(release): improve GitHub Release name
  .github/workflows/release.yaml
Labels: none

feat(keymaps): add mappings for easier navigation
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/renamer/mappings/init.lua
  lua/renamer/mappings/utils.lua
  lua/tests/mappings/mappings_defaults_spec.lua
  lua/tests/mappings/mappings_exec_keymap_action_spec.lua
  lua/tests/mappings/mappings_register_bindings_spec.lua
  lua/tests/mappings/utils_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

feat: highlight the word to be renamed
  README.md
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: docs, test

chore(release): v0.2.0
  CHANGELOG.md
Labels: none

fix(keymaps): `<c-c>` added an `i` after clear
  lua/renamer/mappings/utils.lua
Labels: none

fix: set Neovim mode to initial one
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
Labels: test

fix(keymaps): all keymaps put the user in insert mode
  lua/renamer/mappings/utils.lua
  lua/tests/mappings/utils_spec.lua
Labels: test

fix: cursor placement when finishing `rename()`
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix: cursor position when cancelled from `insert`
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
Labels: test

chore(release): v0.2.1
  CHANGELOG.md
Labels: none

docs(tests): add tests `README.md`
  lua/tests/README.md
Labels: test

feat(highlight): make references highlighting optional
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/renamer/utils.lua
  lua/tests/defaults_spec.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

fix: placement when border is disabled
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
Labels: test

feat(highlighting): add popup title highlighting
  README.md
  lua/renamer/init.lua
  lua/tests/renamer_rename_spec.lua
  plugin/renamer.vim
Labels: docs, test

fix: position when word appears multiple times
  lua/renamer/init.lua
  lua/renamer/utils.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/utils_spec.lua
Labels: test

Fixed invalid lua
  README.md
Labels: docs

docs: Fixed invalid lua
  README.md
Labels: docs

docs(highlights): add vimdocs for highlighting
  doc/renamer.txt
Labels: docs

docs(readme.md): fix invalid lua
  README.md
Labels: docs

fix: remove prefix and prompt mode
  README.md
  doc/renamer.txt
  lua/renamer/defaults.lua
  lua/renamer/init.lua
  lua/tests/defaults_spec.lua
  lua/tests/renamer_setup_spec.lua
Labels: docs, test

docs(neovim): add `show_refs` default
  doc/renamer.txt
Labels: docs

fix(highlight): remove prefix highlight
  plugin/renamer.vim
Labels: none

chore(release): v0.3.0
  CHANGELOG.md
Labels: none

fix: removed renaming as empty string
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix!: popup draws correctly on screen edges
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix!: width adjusts to content and window
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

fix!: fallback to LSP rename if popup cannot be drawn
  lua/renamer/init.lua
  lua/tests/renamer_layout_spec.lua
  lua/tests/renamer_rename_spec.lua
Labels: test

.github/labeler.yml:

ci:
  - '.github/*'
  - '.stylua.toml'

build:
  - 'Makefile'
  - 'scripts/**/*'

docs:
  - 'doc/**/*'
  - 'README*'
  - 'LICENSE'
  - 'CONTRIBUTING*'

test:
  - 'lua/tests/**/*'
