Repository filipdutescu/renamer.nvim, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, test

.github/labeler.yml:

ci:
  - '.github/*'
  - '.stylua.toml'

build:
  - 'Makefile'
  - 'scripts/**/*'

docs:
  - 'doc/**/*'
  - 'README*'
  - 'LICENSE'
  - 'CONTRIBUTING*'

test:
  - 'lua/tests/**/*'

feat(handler): migrate to handler (GH-122)
  .gitignore
  lua/renamer/constants.lua
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_handler_spec.lua
Labels: test

fix(submit): trim new word before using
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_handler_spec.lua
Labels: test

fix(submit): trim new word before using (GH-123)
  lua/renamer/init.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_handler_spec.lua
Labels: test

docs: detail the new handler
  README.md
  doc/renamer.txt
Labels: docs

chore(release): v5.0.0
  CHANGELOG.md
Labels: none

feat(health): add more checks and logs
  lua/renamer/constants.lua
  lua/renamer/health.lua
  lua/renamer/init.lua
  lua/renamer/utils.lua
  lua/tests/health_spec.lua
  lua/tests/mappings/mappings_register_bindings_spec.lua
  lua/tests/renamer_close_spec.lua
  lua/tests/renamer_rename_handler_spec.lua
  lua/tests/renamer_rename_spec.lua
  lua/tests/utils_spec.lua
  scripts/minimal_init.vim
Labels: build, test

chore(release): v5.1.0 [skip ci]
  CHANGELOG.md
Labels: none

fix tablelength bug
  lua/renamer/utils.lua
Labels: none

fix: tablelength bug
  lua/renamer/utils.lua
Labels: none

Use non-deprecated checkhealth syntax
  autoload/health/renamer.vim
  lua/renamer/health.lua
Labels: none
